<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/footer.css" rel="stylesheet">
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    {% include '/includes/auth_menu.html' %}
    {% include '/includes/top_menu.html' %}
</div>
<main class="container">
    {% include '/includes/baner.html' %}

    {% block content %}
    {% endblock %}
</main>
{% include '/includes/footer.html' %}
</body>
</html>